---
layout: default
---

<div class="row marketing" style="margin-top: 0;">
  <div class="col-md-12">
    <div class="page-header">
      <h2>{{ page.title }}</h2>
    </div>

    {{ content }}

<br />

    <p style="text-align: center;"><a href="http://gottovote.cc" target="_blank"><img src="img/logo_2.png" alt="" style="height: 70px;" /></a></p>
    <p style="text-align: center; margin-bottom: 0;">Desenvolvido por <a href="http://gottovote.cc" target="_blank">GotToVote.cc</a></p>

  </div>
</div>

